# Dependencies
node_modules

# Build output
dist
*.tsbuildinfo

# Generated output
generated/
generated-project/
**/generated/
**/generated-*/
**/generated/**
projects/
**/projects/
**/projects/**

# Scratch and temporary scripts
scratch/
**/scratch/
**/scratch/**

# Environment
.env
.env.local

# Logs
*.log

# VS Code
.vscode/settings.json

# Turbo Build Cache
.turbo/
